OfficeHour1/
OfficeHour2/
Hafta2/lesson.js
Hafta2/not.txt
Hafta2/homeworkSubject.md
Hafta2/index.html
Hafta3/Lesson.js
Hafta3/index.html
Hafta3/app





# düzenlenmesi gerekenler
Hafta3/1-Crud.md
Hafta3/1-TrCrud.md